@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
@import "./reset.css";
/* Components */
@import "./components/user-component.css";
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/search-bar.css";
@import "./components/main-screen.css";
@import "./components/no-pc.css";
/* Screens */
@import "./screens/friends.css";
@import "./screens/login.css";
@import "./screens/find.css";
@import "./screens/more.css";
@import "./screens/settings.css";
@import "./screens/chattings.css";

:root {
    --sea-color: #39e3f0;
    --sand-color: #fbd997;
    --light-sand-color: #fdeccb;
    --border-component: 1px solid rgba(0, 0, 0, 0.3);
    --border-radius-value: 2px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 20px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.login-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
@keyframes hideSplashScreen {
    0% {
        transform: translateX(-700px);
        opacity: 1;
    }
    35% {
        opacity: 1;
        transform: translateX(0px);
    }
    70% {
        opacity: 0.7;
        transform: translateX(-700px);
    }
    100% {
        transform: translateX(-700px);
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-image: url("../img/nav-bar-back2.jpg");
    background-size: 1000px 100vh;
    background-position-y: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    top: 0;
    animation: hideSplashScreen 3s ease-in-out forwards;
    opacity: 1;
}
