.main-screen {
    height: 100%;
    width: 80vw;
    background-color: var(--sand-color);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20vw;
    background-image: url("../../img/login-form-background2.jpg");
    background-size: 1200px auto;
    background-position-x: 53%;
}
.main-screen header {
    background-color: transparent;
    display: flex;
    height: 120px;
    width: 80vw;
    padding: 0px 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 20vw;
    z-index: 10;
}
@keyframes rotateCog {
    0% {
        transform: none;
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.main-screen__header .fa-cog:hover {
    animation: rotateCog 2s linear infinite;
}

.main-screen__header .fa-plus {
    position: absolute;
    right: 8px;
    top: 37px;
}
.main-screen main {
    margin-top: 90px;
    min-height: 80vh;
}
.main-screen > div {
    margin-bottom: 10px;
}
.main-screen__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    padding-right: 10px;
}
.main-screen__header__title {
    font-weight: 600;
    font-size: 25px;
}
